html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
}

body,
h1,
form,
input {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
}

h1 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.main_block {
  max-width: 640px;
  min-height: 760px;
  padding: 10px 0;
  margin: auto;
  border-radius: 5px;
  border: solid 1px rgb(199, 199, 199);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  background: #ffffff;
}

form {
  margin: 0 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"] {
  width: calc(100%);
  height: 36px;
  margin: 13px 0 0 -5px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #fff;
}

textarea {
  width: calc(100%);
  height: 80px;
  margin: 13px 0 0 -5px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #fff;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

button[type="submit"] {
  width: 79%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: rgb(39, 39, 39);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

button[type="reset"] {
  width: 20%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: rgb(39, 39, 39);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

button:hover {
  background: rgb(146, 146, 146);
}

input[type="checkbox"] {
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(212, 212, 212);
  opacity: 1;
  /* Firefox */
}
